[submodule ".emacs.d/slime"]
	path = .emacs.d/slime
	url = https://github.com/slime/slime.git
[submodule ".emacs.d/auto-complete"]
	path = .emacs.d/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule ".emacs.d/haskell-mode"]
	path = .emacs.d/haskell-mode
	url = https://github.com/haskell/haskell-mode.git
[submodule ".emacs.d/popup-el"]
	path = .emacs.d/popup-el
	url = https://github.com/auto-complete/popup-el.git
[submodule ".emacs.d/helm"]
	path = .emacs.d/helm
	url = https://github.com/emacs-helm/helm.git
[submodule ".emacs.d/emacs-async"]
	path = .emacs.d/emacs-async
	url = https://github.com/jwiegley/emacs-async.git
[submodule ".emacs.d/multiple-cursors.el"]
	path = .emacs.d/multiple-cursors.el
	url = https://github.com/magnars/multiple-cursors.el.git
[submodule ".emacs.d/go-mode.el"]
	path = .emacs.d/go-mode.el
	url = https://github.com/dominikh/go-mode.el.git
